/* special.css */
/* Typing Effect */
.typing-effect {
    font-size: 22px;
    font-weight: bold;
    color: var(--accent);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--accent);
    width: 100%;
    display: inline-block;
    animation: typing 3s steps(20, end) infinite alternate;
}

/* Floating Text */
.floating-text {
    font-size: 12px;
    color: var(--subtext);
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    animation: floatText 3s infinite ease-in-out;
}
